{"swagger":"2.0","info":{"description":"REST API's By BlueOptima Limited","version":"1.0","title":"BlueOptima Limited","termsOfService":"Use by Permission only","contact":{"name":"support@blueoptima.com"},"license":{}},"host":"uix-stage04.blueoptima.com","basePath":"/","tags":[{"name":"collections"},{"name":"accessgrouphistory"},{"name":"pa-departments"},{"name":"status"},{"name":"pa-search"},{"name":"smart-selection"},{"name":"datasource-health"},{"name":"pa-job-roles"},{"name":"overview-clickthrough-deprecated"},{"name":"bidumps"},{"name":"release-notes"},{"name":"pa-file-apis"},{"name":"pa-signature"},{"name":"projects"},{"name":"overview-clickthrough"},{"name":"ranks-segment-role"},{"name":"pa-mail"},{"name":"authentication"},{"name":"pa-employee-types"},{"name":"error-redirect"},{"name":"datasourcecsv"},{"name":"ibreports"},{"name":"datasource"},{"name":"support"},{"name":"downloadfile"},{"name":"integrators"},{"name":"access-role"},{"name":"deliverablehistory"},{"name":"employers"},{"name":"developer-management"},{"name":"developercsv-deprecated"},{"name":"idp-controller"},{"name":"pa-task-info"},{"name":"user"},{"name":"types"},{"name":"pa-candidates"},{"name":"filedirectorycommits"},{"name":"deliverablecharts"},{"name":"process"},{"name":"developercsv"},{"name":"charts"},{"name":"interactionmap"},{"name":"favorites"},{"name":"pa-criteria-info"},{"name":"activealert"},{"name":"developers"},{"name":"accessrolehistory"},{"name":"exclusion"},{"name":"overview-charts-favorite"},{"name":"clickthrough"},{"name":"pa-test-assignment"},{"name":"deliverable"},{"name":"error-code"},{"name":"locations"},{"name":"overview-charts"},{"name":"activealertsubscription"},{"name":"pa-currency"},{"name":"errorlog"},{"name":"pa-sets"},{"name":"pa-languages"},{"name":"clickthrough-deprecated"},{"name":"datacollectionhistory"},{"name":"pa-candidates-csv"},{"name":"favorites-deprecated"},{"name":"pa-statistics"},{"name":"activeentities"},{"name":"deliverableclickthroughcharts"},{"name":"profile"},{"name":"access-group"},{"name":"pa-teams"},{"name":"user-preferences"},{"name":"ping"},{"name":"counter"},{"name":"discovery-data-source"},{"name":"organization"},{"name":"pa-user-favorites"},{"name":"pa-users"},{"name":"auto-discovery"},{"name":"download-logs"},{"name":"pa-task-reports"},{"name":"developer-management-deprecated"},{"name":"login-exclusion"}],"paths":{"/api/error":{"get":{"tags":["error-redirect"],"summary":"index","description":"index","operationId":"indexUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activityData":{"post":{"tags":["activeentities"],"summary":"Active Entities List","description":"This Request is used to Get Active Entities Ids\n ##### Release Notes \n * Release Date : 10-November-2018","operationId":"getActiveDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"activeDataRequest","description":"activeDataRequest","required":false,"schema":{"$ref":"#/definitions/ActiveDataRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveEntities"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/autoOnboardEnabled":{"get":{"tags":["discovery-data-source"],"summary":"API to check if DS if any AD enable with auto onboard","description":"this API is created as this will be required on import CSV page to show the warning. this will avoid loading of all AD configs when user is on upload CSV page\n ##### Release Notes \n * Release Date : 2019","operationId":"autoOnboardEnabledUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoOnboardEnabledResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/availableFilters":{"get":{"tags":["discovery-data-source"],"summary":"Get the Available Filters","description":"This Request is used to Get all the Available Filters\n ##### Release Notes \n * Release Date : 09-September-2019","operationId":"getAvailableFiltersUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DDSAvailableFilters"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dataSources":{"get":{"tags":["discovery-data-source"],"summary":"Auto Discovery DataSource List","description":"This request is to list all the Auto Discovery DataSources\n ##### Release Notes \n * Release Date : 2019\n * Deprecated since : 9-September-2019 \n * End of Life : **9-March-2020**","operationId":"getDiscoveryDataSourceListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"adConfigIds","in":"query","description":"adConfigIds","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DiscoveryDataSourceResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true},"post":{"tags":["discovery-data-source"],"summary":"Auto Discovery DataSource List","description":"This request is to list all the Auto Discovery DataSources\n ##### Allowed Values\n\n ##### Allowed Values\n**infraType :** CVS_pServer/CVS_SSH/Bugzilla/QualityCentre/ClearCase/Subversion/Jira/uberSVN/PolarionSVN/IntlandSVN/CollabnetSVN/GitHub/Rally/Git/<br/>TeamFoundationServer_vc/TeamFoundationServer_tt/Perforce/GitLab/Stash/TeamFoundationServer_vc_git/RationalTeamConcert_vc/RationalTeamConcert_tt<br/>**status:** Onboarded/Discovered/Ignored/Deleted/Auto_Onboarding<br/>**sortingColumn :** Organization/Project/Collection/HostUrl/InstanceUrl/InstanceName/InfraType/DiscoveredLogins/TotalCommits/\nDiscoveredOn/Status<br/>**sortingMode :** Ascend/Descend<br/>\n ##### Release Notes \n * Release Date : 2019","operationId":"getDiscoveryDataSourceListUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"adDataSourcesInfoRequest","description":"adDataSourcesInfoRequest","required":false,"schema":{"$ref":"#/definitions/AdDataSourcesInfoRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DiscoveryDataSourceResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dataSources/export":{"post":{"tags":["discovery-data-source"],"summary":"Export Discovery DataSources via CSV","description":"This Request is used to Export Discovery DataSources to CSV\n ##### Usage Description\n** adDataSourceIds : ** When passed all the other filters(excludes, organizationIds, adConfigIds, projectName, collectionName, hostUrl, instanceName, instanceURL, infraType, status) will be ignored. This field is used for exporting Auto Discovery Data Sources on DDS page.<br/>** excludes : ** This field can be used with or without all the other filters(excludes, organizationIds, adConfigIds, projectName, collectionName, hostUrl, instanceName,  instanceURL, infraType, status). This filed is used for select all and deselect few items while exporting Auto Discovery Data Sources on DDS page.<br/>\n ##### Allowed Values\n\n ##### Allowed Values\n**infraType :** CVS_pServer/CVS_SSH/Bugzilla/QualityCentre/ClearCase/Subversion/Jira/uberSVN/PolarionSVN/IntlandSVN/CollabnetSVN/GitHub/Rally/Git/<br/>TeamFoundationServer_vc/TeamFoundationServer_tt/Perforce/GitLab/Stash/TeamFoundationServer_vc_git/RationalTeamConcert_vc/RationalTeamConcert_tt<br/>**status:** Onboarded/Discovered/Ignored/Deleted/Auto_Onboarding<br/>**sortingColumn :** Organization/Project/Collection/HostUrl/InstanceUrl/InstanceName/InfraType/DiscoveredLogins/TotalCommits/\nDiscoveredOn/Status<br/>**sortingMode :** Ascend/Descend<br/>\n ##### Release Notes \n * Release Date : 2019","operationId":"exportDiscoveryDataSourcesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"exportDiscoveryDataSourceInfoRequest","description":"exportDiscoveryDataSourceInfoRequest","required":false,"schema":{"$ref":"#/definitions/ExportDiscoveryDataSourceInfoRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dataSources/ignore":{"post":{"tags":["discovery-data-source"],"summary":"Update Datasources' status to ignored","description":"This request is to update status of all given datasource ids to ignore if they belong to latest request\n ##### Release Notes \n * Release Date : 2019","operationId":"updateIgnoredListUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"adDataSourceIds","description":"adDataSourceIds","required":false,"schema":{"$ref":"#/definitions/AdDataSourceIds"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dataSources/onboard":{"post":{"tags":["discovery-data-source"],"summary":"On-Board DataSources","description":"\n* This request is used to on-board given DataSources.\n* Only provide adDataSourceIds corresponding to latest requestIds.\n\n ##### Release Notes \n * Release Date : 2019","operationId":"onBoardDSUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"onBoardDS","description":"onBoardDS","required":false,"schema":{"$ref":"#/definitions/OnBoardDS"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dataSources/stats":{"post":{"tags":["discovery-data-source"],"summary":"Auto Discovery DataSources Stats","description":"This request is to find stats of Auto Discovery DataSources whose Auto Discovery Config ids have been sent\n ##### Allowed Values\n**infraType :** CVS_pServer/CVS_SSH/Bugzilla/QualityCentre/ClearCase/Subversion/Jira/uberSVN/PolarionSVN/IntlandSVN/CollabnetSVN/GitHub/Rally/Git/<br/>TeamFoundationServer_vc/TeamFoundationServer_tt/Perforce/GitLab/Stash/TeamFoundationServer_vc_git/RationalTeamConcert_vc/RationalTeamConcert_tt<br/>**status:** Onboarded/Discovered/Ignored/Deleted/Auto_Onboarding<br/>\n ##### Release Notes \n * Release Date : 2019","operationId":"getDiscoveryDataSourceStatsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"adDataSourcesFilterInfoRequest","description":"adDataSourcesFilterInfoRequest","required":false,"schema":{"$ref":"#/definitions/AdDataSourcesFilterInfoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdDataSourceStatsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dataSources/unignore":{"post":{"tags":["discovery-data-source"],"summary":"Update Datasources' status to Discovered from Ignored","description":"This request is to update status of all given datasource ids to discovered from ignored, if they belong to latest request\n ##### Release Notes \n * Release Date : 2019","operationId":"unIgnoreDSUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"adDataSourceIds","description":"adDataSourceIds","required":false,"schema":{"$ref":"#/definitions/AdDataSourceIds"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/ad/dsPendingForSync":{"get":{"tags":["discovery-data-source"],"summary":"Check if any DS in enterprise does not have RepoId synced with AD output","description":"This request is to check if any DS belonging to enterprise id of requesting user does not have repoId synced with Ad Output\n ##### Release Notes \n * Release Date : 2019","operationId":"dsPendingForSyncUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DsPendingForSyncResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs":{"get":{"tags":["auto-discovery"],"summary":"Auto Discovery Configuration List","description":"This request is to list all the Auto Discovery Configurations\n ##### Release Notes \n * Release Date : 2019\n * Deprecated since : 17-November-2019 \n * End of Life : **17-May-2020**","operationId":"getAutoDiscoveryConfigurationsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AutoDiscoveryResponseExtended"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true},"post":{"tags":["auto-discovery"],"summary":"Add Auto Discovery Configuration","description":"This request is to add the Auto Discovery Configuration\n ##### Release Notes \n * Release Date : 2019\n ##### Usage Notes\n**hostUrl** is required<br/>**integratorId** is required<br/>**organizationId** is required<br/>**infraTypeId** is required<br/>In **repositoryUserDetails** if **overrideAtIntegrator** is set to **false** then **pass** and **pat** value has to be provided<br/>To set **pat** to null during update empty string (**\"\"**) should be sent. If **null** is sent it wont be updated<br/><br/>**Allowable Values :**<br/>**period :** days/weeks/months<br/>**schedule** startDate : yyyy-mm-dd hh:mm<br/>**protocol :** http/https/ssh","operationId":"addAutoDiscoveryUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AutoDiscovery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["auto-discovery"],"summary":"Delete Auto Discovery Configurations","description":"This request is to delete the Auto Discovery Configurations\n ##### Release Notes \n * Release Date : 2019\n ##### Usage Notes\nAuto Discovery delete is not allowed,if an Auto discovery run is already in progress or an Auto Discovery config has associated onboarded Datasources\nwith it, in that case all the associated onboarded DS are required to be deleted to delete an AD configuration","operationId":"deleteAutoDiscoveryConfigUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"adConfigIds","in":"query","description":"adConfigIds","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"csv"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/adconfigs/activeUsers":{"get":{"tags":["auto-discovery"],"summary":"List AD Active Users","description":"This request is to list AutoDiscovery active users\n ##### Release Notes \n * Release Date : 2019","operationId":"getActiveUsersUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AdActiveUsers"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs/forceStart":{"post":{"tags":["auto-discovery"],"summary":"Force Start AD requests","description":"This request is to force start Auto Discovery requests\n ##### Release Notes \n * Release Date : 2019\n ##### Usage Notes\n**adConfigIds** represents the auto-discovery ids on which you want to force start.\nAuto Discovery force start is not allowed if an Auto discovery run is already in progress or\nan AD request is queued.","operationId":"forceStartADUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"adConfigIds","description":"adConfigIds","required":false,"schema":{"$ref":"#/definitions/AdConfigIds"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs/infraTypes":{"get":{"tags":["auto-discovery"],"summary":"Get supported infraType versions","description":"This request is to Get supported infraType versions\n ##### Release Notes \n * Release Date : 2019","operationId":"getSupportedInfraTypeVersionsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DiscoverySupportedInfra"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs/retry":{"post":{"tags":["auto-discovery"],"summary":"Retry Failed/Partially Failed AD requests","description":"This request is to retry Failed/Partially Failed Auto Discovery requests\n ##### Release Notes \n * Release Date : 2019\n ##### Usage Notes\n**requestIds** represents the auto-discovery extraction request ids.\nAuto Discovery  retry is only allowed for the latest failed and partially failed requests.","operationId":"retryADRequestsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"adRequestIds","description":"adRequestIds","required":false,"schema":{"$ref":"#/definitions/ADRequestIds"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs/validate":{"post":{"tags":["auto-discovery"],"summary":"Validate Host Url","description":"This request is to validate Host Url\n ##### Release Notes \n * Release Date : 2019","operationId":"validateHostUrlUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AdValidateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs/{adConfigId}":{"get":{"tags":["auto-discovery"],"summary":"Auto Discovery Configuration","description":"This request is to get the Auto Discovery Configuration\n ##### Release Notes \n * Release Date : 2019","operationId":"getAutoDiscoveryConfigurationUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"adConfigId","in":"path","description":"adConfigId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoDiscoveryResponseExtended"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true},"post":{"tags":["auto-discovery"],"summary":"Update Auto Discovery Configuration","description":"This request is to add the Auto Discovery Configuration\n ##### Release Notes \n * Release Date : 2019\n ##### Usage Notes\n**hostUrl** is required<br/>**integratorId** is required<br/>**organizationId** is required<br/>**infraTypeId** is required<br/>In **repositoryUserDetails** if **overrideAtIntegrator** is set to **false** then **pass** and **pat** value has to be provided<br/>To set **pat** to null during update empty string (**\"\"**) should be sent. If **null** is sent it wont be updated<br/><br/>**Allowable Values :**<br/>**period :** days/weeks/months<br/>**schedule** startDate : yyyy-mm-dd hh:mm<br/>**protocol :** http/https/ssh","operationId":"updateAutoDiscoveryUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AutoDiscovery"}},{"name":"adConfigId","in":"path","description":"adConfigId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/adconfigs/{adConfigId}/extractions":{"get":{"tags":["auto-discovery"],"summary":"List Extractions","description":"This request is to list extractions for a adConfigId\n ##### Release Notes \n * Release Date : 2019","operationId":"getAdExtractionsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"adConfigId","in":"path","description":"adConfigId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LastExtraction"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/adconfigs/{adConfigId}/ignored/datasources":{"get":{"tags":["discovery-data-source"],"summary":"Get ignored Datasource list for an AD config","description":"\n* This request is used to list the ignored data sources against the given *adConfigId*.\n* *adConfigId* is required.\n* *limit* and *offset* are optional fields, If not provided details of all DataSourceIds will be shown.\n\n ##### Release Notes \n * Release Date : 2019","operationId":"getIgnoredDataSourceByADConfigUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"adConfigId","in":"path","description":"adConfigId","required":true,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IgnoredDataSourcesResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/changeUserPassword":{"post":{"tags":["user"],"summary":"Change User Password","description":"This Request is used to change user password\n  ##### BlueOptima Password Policies \n* Password should be minimum 8 characters. \n* Should have at least 1 symbol. \n* Should have at least 1 number. \n* Should have at least 1 capital and 1 lower case letter. \n\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"changeUserPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/ChangePasswordRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/csv/developers/export":{"post":{"tags":["developercsv"],"summary":"Export Developers to CSV","description":"This Request is used to Export Developers to CSV\n ##### Release Notes \n * Release Date : 28-Apr-2018","operationId":"exportDevelopersUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"exportDeveloperRequest","description":"exportDeveloperRequest","required":false,"schema":{"$ref":"#/definitions/ExportDeveloperRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/csv/developers/import":{"post":{"tags":["developercsv"],"summary":"Edit Developers via CSV","description":"This Request is used to Edit Developers via CSV\n ##### Usage Notes \n * First use the **/v1/admin/csv/developers/export** api to download the developer's csv and then use that csv file to Edit developers.\n It will ensure that you have correct csv format. \n\n ##### Release Notes \n * Release Date : 28-Apr-2018","operationId":"importDevelopersUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"data","in":"formData","description":"data","required":false,"type":"ref"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/csv/developers/validate":{"post":{"tags":["developercsv"],"summary":"Validate Developer CSV","description":"This Request is used to validate Developer CSV file\n ##### Usage Notes \n * First use the **/v1/admin/csv/developers/export** api to download the developer's csv and then use that csv file to Edit developers.\n It will ensure that you have correct csv format. \n\n ##### Release Notes \n * Release Date : 28-Apr-2018","operationId":"validateDevelopersUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"data","in":"formData","description":"data","required":false,"type":"ref"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/csv/download/developers":{},"/api/v1/admin/csv/download/developers/invalid":{},"/api/v1/admin/dataAccess":{"post":{"tags":["access-role"],"summary":"Check Combined Data Access","description":"This Request is used for computing combined Data Access.\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getDataAccessUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/DataAccessDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataAccessResDto2"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/developers":{"get":{"tags":["developer-management"],"summary":"List Developers","description":"This Request is used to List all Developers\n ##### Release Notes \n * Release Date : 30-Dec-2017\n * Deprecated since : 30-Apr-2018 \n * End of Life : **30-Oct-2018**","operationId":"getDevelopersDepUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"yyyy-MM-dd","required":false,"type":"string"},{"name":"endDate","in":"query","description":"yyyy-MM-dd","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DeveloperAdminDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true},"post":{"tags":["developer-management"],"summary":"List Developers","description":"This Request is used to List all Developers\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getDevelopersUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/DeveloperGetListReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DeveloperAdminDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/developers/{developerId}":{"get":{"tags":["developer-management"],"summary":"Get DeveloperAdmin","description":"This Request is used to Get DeveloperAdmin by developerAdminId\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getDeveloperUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"developerId","in":"path","description":"developerId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeveloperAdminDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["developer-management"],"summary":"Update DeveloperAdmin","description":"This Request is used to Update DeveloperAdmin\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"updateDeveloperUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"developerId","in":"path","description":"developerId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"developerAdminData","description":"developerAdminData","required":false,"schema":{"$ref":"#/definitions/DeveloperUpdateDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/groups":{"get":{"tags":["access-group"],"summary":"List all Access Groups","description":"This Request is used to List all Access Groups\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getAccessGroupsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccessGroupDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["access-group"],"summary":"Add Group","description":"This Request is used Add Group\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"addAccessGroupsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AccessGroupBaseDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/groups/{groupId}":{"get":{"tags":["access-group"],"summary":"Get Access Group","description":"This Request is used to Get Access Group by ID\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getAccessGroupUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessGroupDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["access-group"],"summary":"Update Group","description":"This Request is used Update Group by Id\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"updateAccessGroupsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AccessGroupBaseDto"}},{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["access-group"],"summary":"Delete Access Group","description":"This Request is used to Delete Access Group by ID\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"deleteAccessGroupUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/admin/processes/{processId}":{"get":{"tags":["process"],"summary":"Getting the process information","description":"This Request is used to Get the processes information\n ##### Process Tracking\n **processId:** tracking id of process in progress. </br>\n ##### Release Notes \n * Release Date : 16-March-2019","operationId":"getProcessInfoUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"processId","in":"path","description":"processId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProcessBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/roles":{"get":{"tags":["access-role"],"summary":"List all Access Roles","description":"This Request is used to List all Access Roles.\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getAccessRolesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccessRoleDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["access-role"],"summary":"Add Role","description":"This Request is used to Add Access Role.\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"addAccessRolesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AccessRoleInsertDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/roles/{roleId}":{"get":{"tags":["access-role"],"summary":"Get Access Role","description":"This Request is used to **Get** Access Role by **ID**.\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getAccessRoleUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessRoleResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["access-role"],"summary":"Update Role","description":"This Request is used to **Update** Access Role by **Id**.\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"updateAccessRolesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AccessRoleInsertDto"}},{"name":"roleId","in":"path","description":"roleId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["access-role"],"summary":"Delete Access Role","description":"This Request is used to **Delete** Access Role by **ID**.<br /> **Warning:** This action **permanently** removes the Access Role from the database.\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"deleteAccessRoleUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/admin/state/dataSources":{"get":{"tags":["datasource"],"summary":"Getting the DataSources State","description":"This Request is used to Get the DataSources State\n ##### Datasource Upload Status\n **isUpdating:** tells if a datasource upload/update is going on. </br>\n ##### Release Notes \n * Release Date : 16-March-2019","operationId":"getDataSourceStatusUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataSourceUploadResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/state/developers":{"get":{"tags":["developer-management"],"summary":"Get State of Developer db","description":"This Request is used to State of Developer db\n ##### Release Notes \n * Release Date : 15-Dec-2017","operationId":"getUpdateStateUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DBState"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/updateDevelopers":{"post":{"tags":["developer-management"],"summary":"Update Multiple Developers with Common changes","description":"This Request is used to update Multiple Developers with common changes\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"updateMultipleDevelopersUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bulkUpdate","description":"bulkUpdate","required":false,"schema":{"$ref":"#/definitions/DeveloperBulkUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/admin/updateGroups":{"post":{"tags":["access-group"],"summary":"Add/Remove Roles to Multiple Groups","description":"This Request is used Add/Remove Roles to Multiple Groups\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"assignRolesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/AssignRoleRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/updateMultipleDevelopers":{"post":{"tags":["developer-management"],"summary":"Update Bulk Developers","description":"This Request is used to update bulk Developers\n ##### Request Parameters\n* **developerId** : 0, required\n* **firstName** : \"string\", required\n* **lastName** : \"string\", required\n* **employementStatus** : \"string\", required\n* **employeeType** : \"string\", Optional, Default value 'Not Provided'\n* **employer** : \"string\", Optional, Default value 'Not Provided'\n* **jobRole** : \"string\", Optional, Default value 'Not Provided'\n* **location** : {Optional, Default value country: 'Not provided' and city: 'Not provided' \"city\": \"string\", \"country\": \"string\"}\n* **rank** : \"string\", Optional, Default value 'Not Provided\n* **segment** : \"string\", Optional, Default value 'Not Provided'\n* **UID** : \"string\", Optional, Value remain unchanged if not passed\n* **hourlyRate** : float, Optional, Value remain unchanged if not passed\n* **isAnonymized** : false,  Optional, Value remain unchanged if not passed\n##### NOTE\nFields which have default values will override the existing value to default value if no value is passed for them in the update\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"updateMultipleDevelopersUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bulkUpdate","description":"bulkUpdate","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/DeveloperUpdateDtoExt"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/admin/updateUsers":{"post":{"tags":["user"],"summary":"Update Multiple Users","description":"This Request is used to update bulk users\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"bulkUpdateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bulkUpdate","description":"bulkUpdate","required":false,"schema":{"$ref":"#/definitions/UserBulkUpdates"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/users":{"get":{"tags":["user"],"summary":"List User","description":"This Request is used to List all users\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getUsersUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["user"],"summary":"Add User","description":"This Request is used to Add user\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"addUserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"userData","description":"userData","required":false,"schema":{"$ref":"#/definitions/UserInsertDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/users/export":{"post":{"tags":["user"],"summary":"Export Users via CSV","description":"This Request is used to Export Users to CSV\n ##### Usage Notes \n1) If ** userIds ** are not given it will get list of all the users in the exported csv file.<br/>2) If ** fields ** are not given it will list all the fields in the exported csv file.<br/>3) If ** userIds ** and ** fields ** are given it will only get those users with the selected field values in the csv file.<br/>4) **'userName'** and **'email'** field will be automatically set if at least one **fields** value is given and those field values are not **'userName'** and **'email'**\n ##### Field Values Allowed \n \"email\", \"uid\", \"userName\", \"rank\", \"jobRole\", \"country\", \"city\", \"state\",\n          \"lastLogin\",\"groups\", \"pages\", \"roles\", \"createdBy\", \"createdOn\"\n ##### Release Notes \n * Release Date : 26-January-2020","operationId":"exportUsersUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"exportUserRequest","description":"exportUserRequest","required":false,"schema":{"$ref":"#/definitions/ExportUserRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/admin/users/{userId}":{"get":{"tags":["user"],"summary":"Get User","description":"This Request is used to Get user by userId\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["user"],"summary":"Update User","description":"This Request is used to Update user\n ##### Release Notes \n * Release Date : 30-Dec-2017","operationId":"updateDeveloperUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"userData","description":"userData","required":false,"schema":{"$ref":"#/definitions/UserInsertDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/alerts":{"post":{"tags":["activealert"],"summary":"List All Alerts","description":"This Request is used for listing all Alerts\n ##### Release Notes \n * Release Date : 01-May-2016","operationId":"getActiveAlertsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"activeAlertRequest","description":"activeAlertRequest","required":false,"schema":{"$ref":"#/definitions/ActiveAlertRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveAlertWrapper"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/alerts/sca/detailedVulnerabilityData/{type}/{dependencyId}":{"get":{"tags":["activealert"],"summary":"Getting Detailed Vulnerability Information for given Dependency","description":"This Request is used to get number of totalActive alerts\n ##### Release Notes \n * Release Date : 26-December-2019","operationId":"getDetailedVulnerabilityInfoForDependencyUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"type","in":"path","description":"type","required":true,"type":"string"},{"name":"dependencyId","in":"path","description":"dependencyId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VulnerabilityDetailsResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/alerts/subscription":{"get":{"tags":["activealertsubscription"],"summary":"Get Subscription","description":"This request returns the Active Alert Subscription Details for the user ","operationId":"getSubscriptionUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveAlertsSubscriptionDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["activealertsubscription"],"summary":"Update Subscription","description":"This request is used to update Subscription\n* All the fields are optional, only provide the fields you want to update.\n* Request expects atleast one parameter to be updated.* Please refer to the example value on the right to check the possible values.\n","operationId":"updateSubscriptionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"subscriptionDto","description":"subscriptionDto","required":false,"schema":{"$ref":"#/definitions/ActiveAlertsSubscriptionDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/alerts/{alertId}":{"get":{"tags":["activealert"],"summary":"Get particular active alert","description":"This Request is used to Get particular active alert by id\n ##### Release Notes \n * Release Date : 01-May-2016","operationId":"getActiveAlertUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"alertId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveAlertDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["activealert"],"summary":"Update active alert status","description":"This Request is used to Update active alert status\n ##### Release Notes \n * Release Date : 01-May-2016","operationId":"updateActiveAlertUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"activeAlertUpdateRequest","description":"activeAlertUpdateRequest","required":false,"schema":{"$ref":"#/definitions/ActiveAlertUpdateRequest"}},{"name":"alertId","in":"path","description":"alertId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveAlertDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/averageTimed/{analysisLevel}":{"post":{"tags":["charts"],"summary":"Average Timed Data","description":"This API returns the average of metrics\n ##### Usage Description\n Available filters at all Analysis Level : organizationIds, projectIds, collectionIds, developerIds, employerIds.\n Only one filter at a time can be sent in request. If more than 1 filter is passed then 1 filter will be accepted by using following Preference order : \n collectionIds, projectIds, organizationIds, developerIds, employerIds\n\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getAverageTimedUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"analysisLevel","in":"path","description":"developers/collections/projects/employers/organizations/datasources","required":false,"type":"string"},{"in":"body","name":"timedChartRequest","description":"timedChartRequest","required":false,"schema":{"$ref":"#/definitions/TimedChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Timed Charts"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/collections":{"post":{"tags":["clickthrough"],"summary":"Collection level click through Charts","description":"This Request is used to generate Collection level click through Charts\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getCollectionsDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/CollectionClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/CollectionData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/collections/metricsDetailed":{"post":{"tags":["clickthrough"],"summary":"Collection level metric details","description":"This Request is used to get Collection level metric details\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getCollectionsDetailedDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/CollectionDetailedMetricReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricsDetail"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/developers/metricsDetailed":{"post":{"tags":["clickthrough"],"summary":"Developer level metric details","description":"This Request is used to get Developer level metric details \n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDeveloperDetailedDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/DeveloperDetailedMetricReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricsDetail"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/developersByCollection":{"post":{"tags":["clickthrough"],"summary":"Developer level click through Charts","description":"This Request is used to generate Developer level click through Charts\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDevelopersDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/DeveloperColClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/DeveloperData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/developersByEmployer":{"post":{"tags":["clickthrough"],"summary":"File level click through Charts","description":"This Request is used to generate File level click through Charts\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getEmployerDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/DeveloperEmpClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/DeveloperData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/files":{"post":{"tags":["clickthrough"],"summary":"File level click through Charts","description":"This Request is used to generate File level click through Charts\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getFileDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"filesChartRequest","description":"filesChartRequest","required":false,"schema":{"$ref":"#/definitions/FilesChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/FileData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/files/abCE":{"post":{"tags":["clickthrough"],"summary":"Entry level aberrantCE","description":"This Request is used to get Entry level aberrant CE\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getEntryLevelAberrantCEUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/FileDetailedMetricReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricChangeWithPercentage"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/files/abCE/howToSolve":{"post":{"tags":["clickthrough"],"summary":"How To Solve","description":"This request is used to get 'howToSolve' string value<br/>***'howToSolve'*** provides additional advice on what actions need to be taken to resolve the issues with a given file\n ##### Request Parameters \n **filename** (string, required) **eg:** \"src/java/org/apache/db/Keyspace.java\"<br/> **infraId** (long, required) **eg:** 65931<br/>**revisionId** (string, required) **eg:** \"3a4ff7776e8fab6cc879fb48f7b69c720\" \n\n * Deprecated since : 07-March-2020 \n * End of Life : **07-September-2020**","operationId":"getHowToSolveUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/HowToSolveRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/ce/clickthrough/files/abCE/howToSolve/getReview":{"get":{"tags":["clickthrough"],"summary":"HTF Review","description":"This request is used to get 'howToSolve' review<br/>***'howToSolve'*** provides additional advice on what actions need to be taken to resolve the issues with a given file\n ##### Request Parameters \n **filename** (string, required) **eg:** \"src/java/org/apache/db/Keyspace.java\"<br/> **infraId** (long, required) **eg:** 65931<br/>**revisionId** (string, required) **eg:** \"3a4ff7776e8fab6cc879fb48f7b69c720\"<br/>**feedback** (string, required) **eg:** \"positive\" <br/>**issueId** (string, required) **eg:** \"raw\" \n","operationId":"getHowToSolveReviewUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"filename","in":"query","description":"filename","required":true,"type":"string"},{"name":"revisionId","in":"query","description":"revisionId","required":true,"type":"string"},{"name":"infraId","in":"query","description":"infraId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetHTFReviewBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/files/abCE/howToSolve/review":{"post":{"tags":["clickthrough"],"summary":"How To Solve Review","description":"This request is used to Store 'howToSolve' review<br/>***'howToSolve'*** provides additional advice on what actions need to be taken to resolve the issues with a given file\n ##### Request Parameters \n **filename** (string, required) **eg:** \"src/java/org/apache/db/Keyspace.java\"<br/> **infraId** (long, required) **eg:** 65931<br/>**revisionId** (string, required) **eg:** \"3a4ff7776e8fab6cc879fb48f7b69c720\"<br/>**feedback** (string, required) **eg:** \"positive\" <br/>**issueId** (string, required) **eg:** \"raw\" \n","operationId":"howToSolveReviewUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/HTFReviewRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/files/metricsDetailed":{"post":{"tags":["clickthrough"],"summary":"Revision level metric details","description":"This Request is used to get Revision level metric details \n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getFileDetailedDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/FileDetailedMetricReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricsDetail"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/files/metricsRanges/{fileType}":{"get":{"tags":["clickthrough"],"summary":"Metric Ranges for a file type","description":"This Request is used to get Metric Ranges for a file type \n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getFileLevelMetricRangesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"fileType","in":"path","description":"fileType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«string,object»"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/collections":{"post":{"tags":["interactionmap"],"summary":"ClickThrough for Project Interaction Map chart","description":"This Request is used to Get the Project Interaction Map\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getProjectClickThroughUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/IMProjectClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/CollectionData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/collections/developers":{"post":{"tags":["interactionmap"],"summary":"ClickThrough for Developer Interaction Map chart","description":"This Request is used to Get the Developer Interaction Map\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDeveloperClickThroughUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/IMDeveloperClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/InteractionMapDeveloperResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/collections/employers":{"post":{"tags":["interactionmap"],"summary":"ClickThrough for Employer Interaction Map chart","description":"This Request is used to Get the Employer Interaction Map\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getEmployerCollectionClickThroughUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/IMEmployerClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/InteractionMapEmployerResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/developers":{"post":{"tags":["interactionmap"],"summary":"ClickThrough for Developer Interaction Map chart","description":"This Request is used to Get the Developer Interaction Map\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDeveloperClickThroughUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/IMCollectionClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/DeveloperData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/developers/metricsDetailed":{"post":{"tags":["interactionmap"],"summary":"Developer level metric details","description":"This Request is used to get Developer level metric details \n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDeveloperMetricDetailsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/InteractionMapDeveloperDataReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«string,MetricsDetail»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/employers":{"post":{"tags":["interactionmap"],"summary":"ClickThrough for Employer Interaction Map chart","description":"This Request is used to Get the Employer Interaction Map\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getEmployerClickThroughUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/IMEmployerClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/InteractionMapEmployerResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/interactionmap/employers/metricsDetailed":{"post":{"tags":["interactionmap"],"summary":"Employer level metric details","description":"This Request is used to get Employer level metric details \n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getEmployerMetricDetailsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/InteractionMapEmployerDataReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«string,MetricsDetail»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/metricsPriority":{"get":{"tags":["clickthrough"],"summary":"ART Metrics Priority","description":"This Request is used to get ART Metrics Priority \n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getARTMetricsPriorityUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/projects":{"post":{"tags":["clickthrough"],"summary":"File level click through Charts","description":"This Request is used to generate File level click through Charts\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getProjectDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/ProjectClickThrough"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ProjectData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/projects/metricsDetailed":{"post":{"tags":["clickthrough"],"summary":"Project level metric details","description":"This Request is used to get Project level metric details \n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getProjectDetailedDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/ProjectDetailedMetricReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricsDetail"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/revisions":{"post":{"tags":["clickthrough"],"summary":"Revision level click through Charts","description":"This Request is used to generate Revision level click through Charts\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getActivityDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"chartRequest","description":"chartRequest","required":false,"schema":{"$ref":"#/definitions/RevisionClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ActivityData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/clickthrough/revisions/metricsDetailed":{"post":{"tags":["clickthrough"],"summary":"Revision level metric details","description":"This Request is used to get Revision level metric details \n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, pct_ab_ce.\n* **Stats Metrics** : ce_hours, ce_units, pct_ab_ce.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : pct_ab_ce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getRevisionDetailedDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/FilesChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricsDetail"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/filedirectory_commits/collections/{analysisLevel}":{"post":{"tags":["filedirectorycommits"],"summary":"File Directory Commits Chart - Collection data","description":"This Request is used to generate File Directory Commits Chart - Collection data\n ##### Usage Description\nAnalysis Levels : employers, developers\n\nAnalysis Level wise Available filters:\n* developers : developerIds\n* employers : employerIds\n\nFilters sent in request other than the supported ones, **will be ignored.**\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, ab_bce, ab_avg_bce.\n* **Stats Metrics** : ce_hours, ce_units, ab_ce_hours, ab_ce_units.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : ab_ce_hours, ab_ce_units, ab_bce, ab_avg_bce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Calendar Metrics** is not supported with any **Raw Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getFileDirCollectionDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"analysisLevel","in":"path","description":"analysisLevel","required":true,"type":"string"},{"in":"body","name":"chartRequest","description":"chartRequest","required":false,"schema":{"$ref":"#/definitions/ChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«long,FileDirCollectionDataResponse»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/filedirectory_commits/projects/{analysisLevel}":{"post":{"tags":["filedirectorycommits"],"summary":"File Directory Commits Chart - Project data","description":"This Request is used to generate File Directory Commits Chart - Project data\n ##### Usage Description\nAnalysis Levels : employers, developers\n\nAnalysis Level wise Available filters:\n* developers : developerIds\n* employers : employerIds\n\nFilters sent in request other than the supported ones, **will be ignored.**\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, ab_bce, ab_avg_bce.\n* **Stats Metrics** : ce_hours, ce_units, ab_ce_hours, ab_ce_units.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : ab_ce_hours, ab_ce_units, ab_bce, ab_avg_bce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Calendar Metrics** is not supported with any **Raw Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 10-October-2019","operationId":"getFileDirProjectDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"analysisLevel","in":"path","description":"analysisLevel","required":true,"type":"string"},{"in":"body","name":"chartRequest","description":"chartRequest","required":false,"schema":{"$ref":"#/definitions/ChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«long,FileDirCollectionDataResponse»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/filedirectory_commits/urls/{analysisLevel}":{"post":{"tags":["filedirectorycommits"],"summary":"File Directory Commits Chart - Filedir data","description":"This Request is used to generate File Directory Commits Chart - Filedir data\n ##### Usage Description\nAnalysis Levels : employers, developers\n\nAnalysis Level wise Available filters:\n* developers : developerIds\n* employers : employerIds\n\nFilters sent in request other than the supported ones, **will be ignored.**\n ##### List of Supported Metrics\n* **Stats Metrics** : ce_hours, ce_units, ab_ce_hours, ab_ce_units.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : ab_ce_hours, ab_ce_units.\n\n##### Metrics Restrictions\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getFileDirDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"analysisLevel","in":"path","description":"analysisLevel","required":true,"type":"string"},{"in":"body","name":"chartRequest","description":"chartRequest","required":false,"schema":{"$ref":"#/definitions/FileDirDataRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«long,FileDirDataResponse»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/interactionmap/{analysisLevel}":{"post":{"tags":["interactionmap"],"summary":"Interaction Map chart","description":"This Request is used to Get Interaction Map Chart Data\n ##### Usage Description\nAnalysis Levels : employers, developers, collections, projects\n\nAnalysis Level wise Available filters:\n* developers : developerIds\n* employers : employerIds\n* collections : collectionIds\n* projects : projectIds\n\nFilters sent in request other than the supported ones, **will be ignored.**\n\n**ONLY ONE METRIC IS ALLOWED PER REQUEST**\n\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getInteractionMapDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"analysisLevel","in":"path","description":"analysisLevel","required":true,"type":"string"},{"in":"body","name":"chartRequest","description":"chartRequest","required":false,"schema":{"$ref":"#/definitions/ChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Map«long,Map«long,double»»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/ce/timed/{analysisLevel}":{"post":{"tags":["charts"],"summary":"Timed Charts","description":"This Request is used to generate Timed Charts\n ##### Usage Description\n Available filters at all Analysis Level : organizationIds, projectIds, collectionIds, developerIds, employerIds.\n Only one filter at a time can be sent in request. If more than 1 filter is passed then 1 filter will be accepted by using following Preference order : \n collectionIds, projectIds, organizationIds, developerIds, employerIds\n\n ##### List of Supported Metrics\n* **Calendar Metrics** : bce, avg_bce, ab_bce, ab_avg_bce.\n* **Stats Metrics** : ce_hours, ce_units, ab_ce_hours, ab_ce_units.\n* **Raw Metrics** : halstead_flux, comment_flux, filesize_flux, nom_flux, dac_flux, fanout_flux, loc_added, loc_removed, loc_flux, cyclo_flux.\n* **Aberrant Metrics** : ab_ce_hours, ab_ce_units, ab_bce, ab_avg_bce.\n\n##### Metrics Restrictions\n* Any **Calendar Metrics** is not supported with any **Stats Metrics**.\n* Any **Calendar Metrics** is not supported with any **Raw Metrics**.\n* Any **Raw Metrics** is not supported with any **Aberrant Metrics**.\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDataWithDatesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"analysisLevel","in":"path","description":"analysisLevel","required":true,"type":"string"},{"in":"body","name":"timedChartRequest","description":"timedChartRequest","required":false,"schema":{"$ref":"#/definitions/TimedChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/List"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/clickthrough/collections/metrics":{"post":{"tags":["clickthrough-deprecated"],"summary":"Collection level click through Charts","description":"This Request is used to generate Collection level click through Charts\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getCollectionsDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/ClickThroughChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/CollectionDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/clickthrough/developers/metrics":{"post":{"tags":["clickthrough-deprecated"],"summary":"Developer level click through Charts","description":"This Request is used to generate Developer level click through Charts\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getDevelopersDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/ClickThroughChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/DeveloperDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/clickthrough/employers/metrics":{"post":{"tags":["clickthrough-deprecated"],"summary":"File level click through Charts","description":"This Request is used to generate File level click through Charts\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getEmployerDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/ClickThroughChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ProjectDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/clickthrough/files/metrics":{"post":{"tags":["clickthrough-deprecated"],"summary":"File level click through Charts","description":"This Request is used to generate File level click through Charts\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getFileDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"filesChartRequest","description":"filesChartRequest","required":false,"schema":{"$ref":"#/definitions/FilesChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/FileDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/clickthrough/projects/metrics":{"post":{"tags":["clickthrough-deprecated"],"summary":"File level click through Charts","description":"This Request is used to generate File level click through Charts\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getProjectDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clickThroughRequest","description":"clickThroughRequest","required":false,"schema":{"$ref":"#/definitions/ClickThroughChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ProjectDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/clickthrough/revisions/metrics":{"post":{"tags":["clickthrough-deprecated"],"summary":"Revision level click through Charts","description":"This Request is used to generate Revision level click through Charts\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getActivityDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"chartRequest","description":"chartRequest","required":false,"schema":{"$ref":"#/definitions/ClickThroughChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ActivityDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/deliverables/billablehours":{"post":{"tags":["deliverablecharts"],"summary":"Deliverable Billable Hour Breakup","description":"This Request is used to generate Billable Hour Breakup\n ##### Release Notes \n * Release Date : 01-May-2016","operationId":"getBillableHoursUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/DeliverableChartRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/List"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/deliverables/clickthrough/developers":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Developer ClickThough","description":"This Request is used to generate Developer ClickThough Data\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDeveloperDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/DeveloperClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/DeveloperClickThroughResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/deliverables/clickthrough/developers/metrics":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Developer ClickThough","description":"This Request is used to generate Developer ClickThough Data\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getDeveloperDataDeprecatedUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/DeveloperClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/DeveloperClickThroughResponseDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/deliverables/clickthrough/developers/metricsDetailed":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Developer Metric Detail ClickThough","description":"This Request is used to generate Developer metric Detail ClickThough Data\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getDeveloperDetailedMetricUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/DeveloperClickThroughMetricDataReq"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/MetricsDetail"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/deliverables/clickthrough/revisions":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Activity ClickThough","description":"This Request is used to generate Activity ClickThough Data\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getActivityDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/ActivityClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ActivityData"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/deliverables/clickthrough/revisions/metrics":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Activity ClickThough","description":"This Request is used to generate Activity ClickThough Data\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getActivityDataDeprecatedUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/ActivityClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ActivityDataDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/analysis/deliverables/clickthrough/tasks":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Task Level ClickThough","description":"This Request is used to generate Task Level ClickThough Data\n ##### Release Notes \n * Release Date : 11-Mar-2017","operationId":"getTaskDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/TaskClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/TaskClickThroughResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/analysis/deliverables/clickthrough/tasks/metrics":{"post":{"tags":["deliverableclickthroughcharts"],"summary":"Task Level ClickThough","description":"This Request is used to generate Task Level ClickThough Data\n ##### Release Notes \n * Release Date : 01-May-2016\n * End of Life : **01-Dec-2017**","operationId":"getTaskDataDeprecatedUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deliverableRequest","description":"deliverableRequest","required":false,"schema":{"$ref":"#/definitions/TaskClickThroughRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/TaskClickThroughResponseDeprecated"}}},"201":{"description":"Created"},"401":{"description":"Una
[...]
